


.base-holder {
    background: #FFFFFF;
    max-width: 879px;
    min-width: 480px;
    height: 489px;
    border-radius: 8px;
    color: var(--data-black);
    padding: 26px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
    max-height: 24px;
}

.title {
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    line-height: 22px;
    overflow: hidden;
    max-width: calc(100% - 48px);
}

.submenu {
    display: inline-block;
    float: right;
}

    .submenu:before {
        content: "";
        position: absolute;
        width: 0px;
        height: 0px;
    }

    .submenu:hover:before {
        width: 170px;
        height: 150px;
        transform: translate(-140px, -10px);
    }

    .submenu:hover .submenu-btn {
        fill: var(--data-orange);
        border-radius: 50%;
        background: var(--data-gray);
    }

    .submenu:hover .submenu-content {
        display: block;
    }

.submenu-btn {
    fill: var(--data-black);
    cursor: pointer;
    width: 24px;
    height: 24px;
    text-align: center;
}

.submenu-content {
    display: none;
    position: absolute;
    /*min-width: 180px;*/
    z-index: 1;
    background: #FFFFFF;
    border: 1px solid #EAEDF2;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 4px;
    transform: translate(-156px,10px);
}

.submenu-icon {
    margin: 4px 8px 4px 12px;
}

.submenu-row {
    height: 39px;
    width: 170px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 39px;
    height: 39px;
    cursor: pointer;
}

    .submenu-row:hover {
        background: var(--data-blue-light);
        color: var(--data-orange);
        fill: var(--data-orange);
    }


.main-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.image-holder {
    flex: 1;
    text-align: center;
}

    .image-holder svg {
        fill: var(--data-gray);
    }

    .image-holder img {
        /*Here should be image size/aspect ratio set*/
    }

.description {
    flex: 2;
    font-weight: 400;
    text-align: left;
    padding-left: 48px;
    font-size: 13px;
    line-height: 18.2px;
    overflow-y: auto;
    max-height: 300px;
}

.footer {
    max-height: 44px;
}

.btn-dismiss {
    float: right;
    width: 136px;
    height: 38px;
    color: white;
    background: var(--data-red);
    border-radius: 8px;
    border: 0px;
    font-weight: 600;
    font-size: 16px;
    font-style: normal;
}

    .btn-dismiss:hover {
        background: var(--data-red-dark);
    }

@media (max-width: 640.98px) {
    /* I assume that for mobile version of side, card would be vertically align, there can be more improvements but this is just for showcase  */
    .main-content {
        display: block;
    }

    .image-holder {
        padding: 12px 32px;
        width: 90%;
    }

        .image-holder img {
            overflow: clip;
        }

    .description {
        text-align: justify;
        padding-left: 8px;
    }

    .base-holder {
        min-width: unset;
        height: auto;
    }

    .footer {
        margin-top: 12px;
    }
}
